<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.setapakhouse">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_page"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_page"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OtherUserProfileActivity"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProfileActivity1" />
        <activity android:name=".EditRentalHouse" />
        <activity android:name=".ManageMyRentalHouse" />
        <activity android:name=".SearchWithoutFilter" />
        <activity android:name=".SearchActivity2" />
        <activity android:name=".SearchActivity1" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".houseRentingActivity" />
        <activity android:name=".myTransactionActivity" />
        <activity android:name=".PaymentActivity2" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".addReviewActivity" />
        <activity android:name=".editReviewActivity" />
        <activity android:name=".myReviewActivity" />
        <activity android:name=".ConfirmAct" />
        <activity android:name=".myPaymentActivity" />
        <activity android:name=".changepwaActivity" />
        <activity android:name=".editProfileActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".detailPost" />
        <activity
            android:name=".PostActivity4"
            android:parentActivityName=".PostActivity4" />
        <activity android:name=".test" />
        <activity
            android:name=".PostActivity3"
            android:parentActivityName=".PostActivity2" />
        <activity
            android:name=".PostActivity2"
            android:parentActivityName=".PostActivity1" />
        <activity android:name=".PostActivity1" />
        <activity android:name=".UploadProfilePictureActivity" />
        <activity android:name=".VerifyOtpActivity" />
        <activity
            android:name=".VerifyPhoneNumberActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".TermAndConditionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatroomActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>